.social-links-auth-wrapper {
    grid-gap: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: auto;
}

    .social-links-auth-wrapper div {
        text-align: center;
        font-size: 66px;
    }

/*
     FILE ARCHIVED ON 13:33:32 Dec 26, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:19:11 Nov 13, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 691.064 (3)
  exclusion.robots.policy: 0.131
  PetaboxLoader3.resolve: 47.581
  exclusion.robots: 0.141
  CDXLines.iter: 20.369 (3)
  esindex: 0.015
  captures_list: 788.143
  load_resource: 249.005
  RedisCDXSource: 73.192
  PetaboxLoader3.datanode: 824.153 (4)
*/