@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('/web/20191226133332im_/https://youit.pro/fonts/ProximaNovaRegular/proximanovaregular.eot');
    src: url('/web/20191226133332im_/https://youit.pro/fonts/ProximaNovaRegular/proximanovaregular.woff') format('woff'), url('/web/20191226133332im_/https://youit.pro/fonts/ProximaNovaRegular/proximanovaregular.woff2') format('woff2'), url('/web/20191226133332im_/https://youit.pro/fonts/ProximaNovaRegular/proximanovaregular.ttf') format('truetype')
}

.login-link {
    color: rgb(35, 66, 133);
    cursor: pointer !important;
    font-size: 17px;
    font-weight: 100;

}

i.fa-circle {
color:#909090;
}

h1 {
    font-weight: normal;
    margin: 0 !important;
    padding-top: 70px;
    text-align: center;
    color: rgb(219, 219, 219);
    font-size: 45px;
}

.descr {
    text-align: center;
    color: rgb(250, 250, 250);
    font-size: 17px;
}

.info {
    text-align: center;
    padding-top: 30px;
    margin: auto;
    width: 50%;
    color: rgb(250, 250, 250)
}

.main-content {
    width: 90%;
    margin: auto;
    font-size: 17px;
}

table tr:nth-child(even) {
    background-color: #f8f8f8;
}

table tr:hover {
    background-color: #ddd;
}


#header {
    width: 100%;
    min-height: 300px;
    margin-bottom: 70px;
    background-color: rgb(90, 89, 89);
}


.fa-circle {
    font-size: 11px;
    color: #d0d0d0;
}

i.fa-arrow-circle-up {
font-size:27px;
}

table th {
    padding-top: 12px;
    text-align: left;
    background-color: rgb(65, 73, 65);
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

    table td, table th {
        border: 1px solid rgb(214, 214, 214);
        padding: 5px;
    }

body {
    font-family: ProximaNovaRegular, Verdana, Geneva, Tahoma, sans-serif, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

h2 {
    float: left;
    margin-top: 0;
    margin-right: 10px;
}


#map {
    width: 100%;
    text-align: left;
}

table#map th td:first-child,
table#map tr td:first-child {
    width: 50%;
}

table.details th td:first-child,
table.details tr td:first-child {
    width: 10%;
}

.ad {
    margin: 20px 0 20px 0;
}

table.details th td:nth-of-type(3n),
table.details tr td:nth-of-type(3n) {
    width: 30%;
}

i.map {
    color: rgb(241, 188, 11);
}

a {
    text-decoration: none;
    color: rgb(35, 66, 133);
}

/*
     FILE ARCHIVED ON 13:33:32 Dec 26, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:19:11 Nov 13, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 489.912
  exclusion.robots: 0.158
  exclusion.robots.policy: 0.144
  RedisCDXSource: 219.835
  esindex: 0.01
  LoadShardBlock: 246.413 (3)
  PetaboxLoader3.datanode: 925.266 (4)
  CDXLines.iter: 19.579 (3)
  load_resource: 978.284
  PetaboxLoader3.resolve: 142.728
*/